{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Search Mchango
{% endblock %}

{% block content %}
    <h1>Search Mchango</h1>
    {% if not_found_message %}
        <p>{{ not_found_message }}</p>
    {% endif %}
    <form method="GET" action="{% url 'search_results' %}">
        {% csrf_token %}
        <label for="unique_id">Enter Unique ID:</label>
        <input type="text" id="unique_id" name="unique_id" required><br><br>
        <input type="submit" value="Search">
    </form>
{% endblock %}
